body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color:darkslateblue;
    overflow: auto;
}


nav ul{
    list-style-type: none;
    margin: 4px;
    overflow: hidden;
    outline: 0.5px solid aquamarine;
    border: 2px solid coral;
    background-color:darkslateblue;
    font-size: 24px;
}

nav li{
    float: left;
    display: inline;
    margin: 0 8px
}

nav li a{
    display: block;
    position: relative;
    color:coral;
    text-align: center;
    padding: 32px 32px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    outline: 1px solid aquamarine;
}
    
.active {
    background-color:coral;
    color:darkslateblue;
    font-weight: bold;
  }

.hero-image{
    background-image: url("../images/e.jpg");
    height: 256px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
    border-top: 1px solid aquamarine;
    border-bottom: 1px solid aquamarine;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 16px;
}

.hero-text{
    color:darkslateblue;
    text-shadow: 2px 2px 5px coral;
    font-size: 32px;
    position: absolute;
    bottom: 0px;
    left: 16px;
} 

.pictures {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    
    margin: 4px;
    padding: 4px;
}

.photos {
    width: 512px;
    height: 400px;
    border: 1px solid darkslateblue;
    outline: 1px solid coral;
}

.caption {
    color: coral;
}

#side {
    display: inline;
    width: 200px;
    height: 300px;
    margin-top: 16px;
    margin-left: 10px;
    padding: 50px;
    border: 1px solid coral;
    outline: 0.5px solid aquamarine;
    color: coral;
}